<!DOCTYPE html>
<html>
    <meta charset="utf-8"
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <head>
        <title>Signin</title>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>

        <style>
            #result {
                margin-top: 20px;
                color: red;
            }
        </style>
    </head>

    <body>
        <div class="container">
            {% from "_formhelpers.html" import render_field %}
            <form action="/signin" method="post" role="form">
                <h2>Please Sign In</h2>
                 <!-- <input type="name" name="username" placeholder="Username" required autofocus>
                // <input type="password" name="password" placeholder="Password" required>

                <button class="btn" type="button">SignIn</button> -->
                {{ form.csrf_token }}
                <dl>


                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.remember) }}
                    <dt><p>提交</p></dt>
                    <dd><button class="btn" type="button">SignIn</button></dd>
                </dl>
            </form>

            <div id="result"></div>
        </div>
        <div id="login-form">
            <p v-text="message"></p>
            <input name="username" v-model="message" />
        </div>

        <div id="app-7">
        <ol>
            <!-- 创建一个 todo-item 组件的实例 -->
            <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
        </div>

        <script type="text/javascript">
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        </script>
        <script type='text/javascript'>
            $(function() {
                $('.btn').click(function() {
                    var $result = $('#result');
                    var $username = $('input[name="username"]').val();
                    var $password = $('input[name="password"]').val();
                    var $remember = $('input[name="remember"]').val();
                    $.ajax({
                        url: '/signin',
                        data: $('form').serialize(),
                        // data: {'username': $username, 'password': $password, 'remember': $remember},
                        type: 'POST',
                        dataType: 'json'
                    }).done(function(data) {
                        if (!data.r) {
                            $result.html(data.rs);
                            // window.location.replace("/")
                            window.location.href = data.url
                        } else {
                            $result.html(data.error);
                        }
                    });
                });
            });
        </script>

        <script>
            var username = new Vue({
                delimiters: ['{', '}'],
                el: '#login-form',
                data: {
                    message: 'abcd'
                }
            })
        </script>
        <script>
            Vue.component('todo-item', {
                delimiters: ['{', '}'],
                props: ['todo'],
                template: '<li v-text="todo.text"></li>'
            })

            var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { text: '蔬菜' },
      { text: '奶酪' },
      { text: '随便其他什么人吃的东西' }
    ]
  }
})
        </script>
    </body>
</html>
