{% extends "base.html" %}

{% block title %} 关于我 - AWoter {% endblock %}

{% block content %}
    <div class="container">
	    <div class="row clearfix">
		    <div class="col-md-8 column">
			    <h2 class="text-left">
				    关于AWoter
			    </h2>
			    <p class="text-left lead">
				    <em>AWoter</em> 是一个基于<strong>个人兴趣</strong>开发维护的坦克世界分享站点。<br />
                    在这里，你可以尽情浏览有关坦克世界打法的文章，欣赏坦克世界视频，关注坦克世界最新活动。<br />
                    你也可以加入我们，分享你的心得。<br />
                    我们的愿景是让更多人喜欢上坦克世界。<br />
                    享受游戏，享受生活。
                    <br />
                    您可以扫描下方二维码向我捐助：<br />
			    </p>
                <img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" />
			    <div class="panel-group" id="panel-133610">
				    <div class="panel panel-default">
					    <div class="panel-heading">
						    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-133610" href="#panel-element-231626">有关此网站的技术细节</a>
					    </div>
					    <div id="panel-element-231626" class="panel-collapse collapse">
						    <div class="panel-body">
							    <ul>开发语言为python 2.7</ul>
                                <ul>基于框架Flask</ul>
                                <ul>使用的扩展有Flask-Bootstrap、等</ul>
						    </div>
					    </div>
				    </div>
				    <div class="panel panel-default">
					    <div class="panel-heading">
						    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-133610" href="#panel-element-568966">关于我：开发者</a>
					    </div>
					    <div id="panel-element-568966" class="panel-collapse collapse">
						    <div class="panel-body">
							    生于晋，游学于京。90后。喜欢研究二战，故而喜欢WOT。目前8K场次，旧版效率约800。北区ID：Abirdcfly
						    </div>
					    </div>
				    </div>
			    </div>
			    <ul class="nav nav-pills">
				    <li class="active">
					    <a href="/"> <span class="badge pull-right">12</span> Home</a>
				    </li>
				    <li>
					    <a href="#"> <span class="badge pull-right">16</span> More</a>
				    </li>
			    </ul>
		    </div>
		    <div class="col-md-4 column">
		    </div>
	    </div>
    </div>
{% endblock %}