{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% if detail_show == True %}
{% import "bootstrap/wtf.html" as wtf %}
{% endif %}

{% block page_content %}
{% if current_user.is_authenticated %}
    <a class="btn btn-info" href="{{ url_for('main.post') }}">创建文章</a>
    {% else %}
        <p>想发表文章？请 <a href="{{ url_for('auth.login') }}"><strong>登陆</a></strong> 或
            <a href="{{ url_for('auth.register') }}"><strong>注册</strong></a></p>
{% endif %}
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('main.show_all') }}">全部</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('main.show_followed') }}">关注者</a></li>
        {% endif %}
    </ul>
{% include '_doc.html' %}
</div>
{% if detail_show == True %}
    <h4 id="comments">评论</h4>
    {% if current_user.can(Permission.COMMENT) %}
    <div class="comment-form">
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
    {% include '_comments.html' %}
{% endif %}
{% if pagination %}
<div class="pagination">
    {% if detail_show == False %}
        {{ macros.pagination_widget(pagination, 'main.doc') }}
    {% else %}
        {{ macros.pagination_widget(pagination, 'main.doc', fragment='#comments', id=posts[0].id) }}
    {% endif %}
</div>
{% endif %}
{% endblock %}